/* Try different box model properties below */
.site-header > p {
  color: #fff;
}

.site-header {
  margin-bottom: 40px;
}

.site-footer {
  font-size: 12px;
  text-align: center;
}

.message:last-child {
  box-shadow: 4px 4px 0 #dba944;
}

/*
* {
  border: 1px solid red;
}
*/
