/* Write your media queries and flexbox CSS below */

@media screen and (min-width: 480px) {
  .site-header__nav {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 700px) {
  .site-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 900px) {
  .site-header {
    display: flex;
    justify-content: space-between;
  }
}
